{% extends 'home.html' %}
{% block body %}
<link rel = stylesheet href = "//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" defer>
  <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" defer></script>
<script>
    $(document).ready( function () {
    $('#myTable').DataTable();
} );
  </script>
<div  class="container-fluid">
    

    
        <h2 style="color:red;margin-top:4%">Employee List
            <a href="#"><button class="btn btn-primary" align="right" style="float:right">Create</button></a>
        </h2>
        <table class="table table-bordered" id="myTable">
  <thead>
  <tr>
    <th>Name</th>
    <th>DOB</th>
    <th>Date of joining</th>
      <th>Department</th>
      <th>Designation</th>
    <th>City</th>
    <th>No of leave</th>
    <th>Leave/Working</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  </thead>
   <tbody>

    {% for employee in employee_list %}
  <tr>

    <td>{{employee.name}}</td>
    <td>{{employee.dob}}</td>
    <td>{{employee.doj}}</td>
      <td>{{employee.department}}</td>
      <td>{{employee.post}}</td>
      <td>{{employee.address}}</td>
      <td>{{employee.leave_count}}</td>
      <td>{% if employee.on_leave %}
        <a href="" onclick="return confirm('Are you sure, You are working today?')"><button class="btn btn-danger">Leave</button></a>
          {% else %}
          <a href=""  onclick="return confirm('Are you sure, You are applying for leave?')"><button class="btn btn-success">Working</button></a>
        {% endif %}</td>
      <td>{% if employee.active %}Active{% else %}Inactive{% endif %}</td>
    <td><a href="" ><button class="btn btn-success">Edit</button></a>
        <a href="" onclick="return confirm('Are you sure?')"><button class="btn btn-danger">delete</button></a>
    </td>
  </tr>

    {% endfor %}
    </tbody>

</table>

</div>

{% endblock  %}